:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 270px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 270px;
    max-width: 900px;
    height: 218px;
    margin-top: 50px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 114.5px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--black);
}


/*Agregue esta clase*/

.introduction {
    width: 232px;
    height: 110px;
    color: black;
    display: block;
    font-size: 1.4rem;
    text-justify: auto;
    margin-left: 560px;
    margin-bottom: 10px;
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/icons/down-arrow.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main__exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main__exchange-container .background-img {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background: url("../assets/imgs/Bitcoin.svg") center/cover no-repeat;
}

.main__exchange-container--title {
    width: 90%;
    min-width: 270px;
    max-width: 900px;
    margin: 0 auto;
}

.main__exchange-container--title h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main__exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-tables-container .main-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-table .main-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
}

.main-table--title.currency {
    color: var(--bitcoin-orange);
}

.main-table--title.comision {
    color: var(--secondary-blue)
}

.table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.table--container table {
    width: 100%;
    height: 100%;
}

.table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.table--container .table__top-right {
    border-radius: 0 15px 0 0;
}

.table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.6rem;
    color: #757575;
}

.table--container .table__right .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background: url(../assets/icons/trending-up.svg) center/cover no-repeat;
}

.table--container .table__right .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background: url(../assets/icons/trending-down.svg) center/cover no-repeat;
}

.table--date {
    width: 190px;
    height: auto;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    border-radius: 8px;
}

.table--date.currency {
    background-color: var(--soft-orange);
}

.table--date.comision {
    background-color: var(--soft-blue);
}

.table--date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    margin-bottom: 0;
}

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 270px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--black);
}

.main-product-detail--batata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    background: url(../assets/icons/Batatalogo.svg) center/cover no-repeat;
    top: -10px;
    left: calc(50% - 20px);
}

.product-detail--title {
    width: 90%;
    height: auto;
    min-width: 270px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--just-white);
}

.product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card {
    width: 80%;
    min-width: 248px;
    max-width: 400px;
    min-height: 160px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--warm-black);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.product--card-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background: center/cover no-repeat;
}

.product--card-icon.clock-sign {
    background-image: url(../assets/icons/clock.svg);
}

.product--card-icon.eye-sign {
    background-image: url(../assets/icons/eye.svg);
}

.product--card-icon.dollar-sign {
    background-image: url(../assets/icons/dollar-sign.svg);
}

.product--card-icon.check-sign {
    background-image: url(../assets/icons/check-circle.svg);
}

.product--card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white)
}

.product--card-body {
    margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: 500px;
    line-height: 1.8rem;
    color: #808080;
}

.bitcoin-img-container {
    width: 100%;
    min-height: 320px;
    height: 50vh;
    background: url(../assets/imgs/bitcoinbaby3x.jpg) center/cover no-repeat;
    text-align: center;
}

.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main-plans-container {
    width: 100%;
    min-width: 280px;
    padding-bottom: 70px;
    text-align: center;
}

.plans--title {
    width: 90px;
    min-width: 244px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plans--title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans--title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container--slider {
    display: flex;
    height: 326px;
    width: 256px;
    margin: 0 auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plan-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 60%;
    min-width: 244px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.plan-container--card:nth-child(2) {
    margin-left: 35px;
    margin-right: 35px;
}

.recommended-banner {
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 8px;
    font-size: 1.2rem;
    text-align: center;
    left: calc(50% - 60px);
    top: -15px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
}

.plan-card--title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black)
}

.plan-card--price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
    color: var(--black);
}

.plan-card--price span {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}

.plan-card--saving {
    font-size: 1.2rem;
    color: #757575;
}

.plan-card--ca {
    width: 150px;
    height: 48px;
    margin-top: 25px;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
}

.plan-card--ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../assets/icons/arrow-right.svg) center/cover no-repeat;
    vertical-align: -5px;
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.left li {
    margin: 10px;
}

.left a {
    text-decoration: none;
    color: var(--just-white);
}